.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.error {
  background-color: rgb(252, 55, 85);
  color: white;
  font-size: 1rem;
  position: fixed;
  text-align: center;
  top: 15px;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1%;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  @media (max-width: 768px) {
    width: 75%;
  }
  p {
    font-size: 1.2rem;
  }
  span {
    font-size: 2rem;
  }
}

.loading > h4 {
  font-size: 3rem;
}

.input,
select {
  padding: 0.5rem;
  border: none;
  border-radius: 0;
  background-color: var(--primary-color);
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  padding-right: 1rem;
  background-color: var(--secondary-color);
}

select option {
  background-color: var(--primary-color);
  color: black;
}

.inputContainer1,
.inputContainer2 {
  display: flex;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inputContainer1:focus-within {
  box-shadow: 0 0 7px var(--quaternary-color);
}

select:focus,
.input:focus {
  outline: none;
}

select {
  cursor: pointer;
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Color of the scrollbar handle */
    border-radius: 4px;
  }
  &::-ms-overflow-style {
    width: 8px;
  }
  &::-moz-scrollbar {
    width: 8px;
  }
}

.output {
  cursor: default;
  &:focus {
    outline: none;
  }
}

.submit {
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  box-shadow: -3px 3px 0 rgba(0, 0, 0, 1);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 45%;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--quaternary-color);
  }
  &:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    translate: -3px 3px;
  }
}
